*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #e7e7e7;
    padding-top: 60px;
    margin-top: 70px;
}
header img{
    height: 30px;
}
header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.container{
    max-width: 660px;
    width: 100%;
    margin: 0 auto;
}
form{
    display: flex;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
form input{
    border: none;
    border-bottom: 2px solid black;
    padding: 8px;
}
form .input-name{
    padding-right: 100px;
}
form button{
    border: none;
    padding: 4px;
    background-color: green;
    font-weight: bold;
    color: white;
}
table{
    max-width: 625px;
    width: 100%;
}
table thead{
    text-align: left;
    font-size: 20px;
    border-bottom: 2px solid black;
    padding: 20px;
}
table th{
    border-bottom: 2px solid black;
}
tbody td{
    padding: 20px 0 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
tfoot td{
    padding: 20px 0 10px 0;
    font-weight: bold;
}